In [2]:
import pandas as pd

In [4]:
raw = pd.read_csv("by_device.csv", comment='#', thousands=',')
raw

,Device Category,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,desktop,"131,774",131362.0,205318.0,74.36%,1.60,00:01:42,0.00%,0.0,$0.00
1,mobile,"21,148",21106.0,25687.0,77.46%,1.28,00:00:57,0.00%,0.0,$0.00
2,tablet,645,634.0,832.0,67.79%,1.60,00:01:33,0.00%,0.0,$0.00
3,NaN,"153,567",153102.0,231837.0,74.68%,1.56,00:01:37,0.00%,0.0,$0.00
4,Day Index,Users,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
366,12/28/22,399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,12/29/22,394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,12/30/22,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,12/31/22,271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,"207,402",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Number of page views per day begins after the 500 pages so cut dataframe:

In [5]:
pages = raw.iloc[:3].copy()
pages

,Device Category,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,desktop,"131,774",131362.0,205318.0,74.36%,1.60,00:01:42,0.00%,0.0,$0.00
1,mobile,"21,148",21106.0,25687.0,77.46%,1.28,00:00:57,0.00%,0.0,$0.00
2,tablet,645,634.0,832.0,67.79%,1.60,00:01:33,0.00%,0.0,$0.00

In [6]:
pages["Users"] = pages["Users"].str.replace(",", "").astype('int32')
pages["New Users"] = pages["New Users"].astype('int32')
pages["Sessions"] = pages["Sessions"].astype('int32')

In [7]:
pages.Users.sum()

153567

In [8]:
pages.describe()

,Users,New Users,Sessions,Pages / Session,Goal Completions
count,3.000000,3.000000,3.000000,3.000000,3.0
mean,51189.000000,51034.000000,77279.000000,1.493333,0.0
std,70537.578077,70315.122015,111579.262845,0.184752,0.0
min,645.000000,634.000000,832.000000,1.280000,0.0
25%,10896.500000,10870.000000,13259.500000,1.440000,0.0
50%,21148.000000,21106.000000,25687.000000,1.600000,0.0
75%,76461.000000,76234.000000,115502.500000,1.600000,0.0
max,131774.000000,131362.000000,205318.000000,1.600000,0.0

In [9]:
df = pages.drop(columns=["Goal Conversion Rate", "Goal Completions", "Goal Value"])

In [10]:
df

,Device Category,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,desktop,131774,131362,205318,74.36%,1.60,00:01:42
1,mobile,21148,21106,25687,77.46%,1.28,00:00:57
2,tablet,645,634,832,67.79%,1.60,00:01:33

In [11]:
pd.set_option('display.max_rows', 300)

In [12]:
df[:3]

,Device Category,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,desktop,131774,131362,205318,74.36%,1.60,00:01:42
1,mobile,21148,21106,25687,77.46%,1.28,00:00:57
2,tablet,645,634,832,67.79%,1.60,00:01:33

In [13]:
x = list(df.columns)
x

['Device Category',
 'Users',
 'New Users',
 'Sessions',
 'Bounce Rate',
 'Pages / Session',
 'Avg. Session Duration']

In [14]:
x[5] = "P/S"
x[6] = "ASD"

In [15]:
df.columns = x

In [16]:
ed_table = df[:100].reset_index(drop=True).fillna('')
ed_table.index = range(1, ed_table.shape[0] + 1)
ed_table.to_latex('by_device.tex', longtable=True)

/var/folders/x5/f0v08d0968dfbr7r4fj55ln80000gn/T/ipykernel_26127/3998942099.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  ed_table.to_latex('by_device.tex', longtable=True)

In [17]:
ed_table

  Device Category   Users  New Users  Sessions Bounce Rate   P/S       ASD
1         desktop  131774     131362    205318      74.36%  1.60  00:01:42
2          mobile   21148      21106     25687      77.46%  1.28  00:00:57
3          tablet     645        634       832      67.79%  1.60  00:01:33