In [7]:
import pandas as pd

In [8]:
raw = pd.read_csv("by_city.csv", comment='#', thousands=',')
raw

,City,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,(not set),26320,25083,31314,82.60%,1.35,00:01:07,0.00%,0,$0.00
1,Princeton,7681,6449,25494,43.00%,2.56,00:03:54,0.00%,0,$0.00
2,New York,4470,3780,7258,66.44%,1.78,00:02:19,0.00%,0,$0.00
3,London,2051,1967,2625,83.12%,1.26,00:00:59,0.00%,0,$0.00
4,Ashburn,1744,1114,4240,50.99%,2.40,00:03:44,0.00%,0,$0.00
5,Bengaluru,1587,1547,1985,83.07%,1.29,00:00:59,0.00%,0,$0.00
6,Philadelphia,1498,1241,2357,62.11%,1.84,00:02:19,0.00%,0,$0.00
7,Chicago,1264,1184,1670,78.26%,1.38,00:01:12,0.00%,0,$0.00
8,Los Angeles,1228,1148,1606,77.09%,1.44,00:01:34,0.00%,0,$0.00
9,Singapore,1082,1068,1396,81.66%,1.29,00:00:59,0.00%,0,$0.00
10,Boston,1029,934,1405,77.37%,1.40,00:01:35,0.00%,0,$0.00
11,Seoul,979,948,1227,82.23%,1.28,00:00:42,0.00%,0,$0.00
12,Washington,952,951,957,95.40%,1.33,00:00:03,0.00%,0,$0.00
13,Toronto,911,879,1211,83.90%,1.25,00:00:55,0.00%,0,$0.00
14,Paris,864,814,1126,79.93%,1.40,00:01:29,0.00%,0,$0.00
15,Cambridge,856,800,1205,76.85%,1.42,00:01:16,0.00%,0,$0.00
16,Houston,851,771,1129,76.62%,1.49,00:01:26,0.00%,0,$0.00
17,San Jose,823,780,1018,82.81%,1.31,00:00:46,0.00%,0,$0.00
18,San Diego,787,733,1081,74.84%,1.54,00:01:41,0.00%,0,$0.00
19,Hyderabad,779,760,954,83.44%,1.27,00:00:53,0.00%,0,$0.00
20,Mumbai,742,714,925,82.27%,1.25,00:00:53,0.00%,0,$0.00
21,Zurich,713,690,849,84.57%,1.19,00:00:55,0.00%,0,$0.00
22,Seattle,705,667,908,81.39%,1.37,00:01:13,0.00%,0,$0.00
23,Pune,701,674,905,82.98%,1.21,00:00:55,0.00%,0,$0.00
24,Berlin,692,662,929,83.85%,1.19,00:00:58,0.00%,0,$0.00
25,NaN,165503,153102,231837,74.68%,1.56,00:01:37,0.00%,0,$0.00

In [9]:
raw = raw[:25]

Number of page views per day begins after the 500 pages so cut dataframe:

In [10]:
pages = raw.iloc[:100].copy()
pages

,City,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Goal Conversion Rate,Goal Completions,Goal Value
0,(not set),26320,25083,31314,82.60%,1.35,00:01:07,0.00%,0,$0.00
1,Princeton,7681,6449,25494,43.00%,2.56,00:03:54,0.00%,0,$0.00
2,New York,4470,3780,7258,66.44%,1.78,00:02:19,0.00%,0,$0.00
3,London,2051,1967,2625,83.12%,1.26,00:00:59,0.00%,0,$0.00
4,Ashburn,1744,1114,4240,50.99%,2.40,00:03:44,0.00%,0,$0.00
5,Bengaluru,1587,1547,1985,83.07%,1.29,00:00:59,0.00%,0,$0.00
6,Philadelphia,1498,1241,2357,62.11%,1.84,00:02:19,0.00%,0,$0.00
7,Chicago,1264,1184,1670,78.26%,1.38,00:01:12,0.00%,0,$0.00
8,Los Angeles,1228,1148,1606,77.09%,1.44,00:01:34,0.00%,0,$0.00
9,Singapore,1082,1068,1396,81.66%,1.29,00:00:59,0.00%,0,$0.00
10,Boston,1029,934,1405,77.37%,1.40,00:01:35,0.00%,0,$0.00
11,Seoul,979,948,1227,82.23%,1.28,00:00:42,0.00%,0,$0.00
12,Washington,952,951,957,95.40%,1.33,00:00:03,0.00%,0,$0.00
13,Toronto,911,879,1211,83.90%,1.25,00:00:55,0.00%,0,$0.00
14,Paris,864,814,1126,79.93%,1.40,00:01:29,0.00%,0,$0.00
15,Cambridge,856,800,1205,76.85%,1.42,00:01:16,0.00%,0,$0.00
16,Houston,851,771,1129,76.62%,1.49,00:01:26,0.00%,0,$0.00
17,San Jose,823,780,1018,82.81%,1.31,00:00:46,0.00%,0,$0.00
18,San Diego,787,733,1081,74.84%,1.54,00:01:41,0.00%,0,$0.00
19,Hyderabad,779,760,954,83.44%,1.27,00:00:53,0.00%,0,$0.00
20,Mumbai,742,714,925,82.27%,1.25,00:00:53,0.00%,0,$0.00
21,Zurich,713,690,849,84.57%,1.19,00:00:55,0.00%,0,$0.00
22,Seattle,705,667,908,81.39%,1.37,00:01:13,0.00%,0,$0.00
23,Pune,701,674,905,82.98%,1.21,00:00:55,0.00%,0,$0.00
24,Berlin,692,662,929,83.85%,1.19,00:00:58,0.00%,0,$0.00

In [11]:
pages.describe()

,Users,New Users,Sessions,Pages / Session,Goal Completions
count,25.000000,25.000000,25.000000,25.000000,25.0
mean,2452.360000,2254.320000,3830.960000,1.459600,0.0
std,5196.325375,4917.152866,7569.175723,0.346753,0.0
min,692.000000,662.000000,849.000000,1.190000,0.0
25%,787.000000,760.000000,957.000000,1.270000,0.0
50%,952.000000,934.000000,1211.000000,1.350000,0.0
75%,1498.000000,1184.000000,1985.000000,1.440000,0.0
max,26320.000000,25083.000000,31314.000000,2.560000,0.0

In [12]:
df = pages.drop(columns=["Goal Conversion Rate", "Goal Completions", "Goal Value"])

In [13]:
df

,City,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,(not set),26320,25083,31314,82.60%,1.35,00:01:07
1,Princeton,7681,6449,25494,43.00%,2.56,00:03:54
2,New York,4470,3780,7258,66.44%,1.78,00:02:19
3,London,2051,1967,2625,83.12%,1.26,00:00:59
4,Ashburn,1744,1114,4240,50.99%,2.40,00:03:44
5,Bengaluru,1587,1547,1985,83.07%,1.29,00:00:59
6,Philadelphia,1498,1241,2357,62.11%,1.84,00:02:19
7,Chicago,1264,1184,1670,78.26%,1.38,00:01:12
8,Los Angeles,1228,1148,1606,77.09%,1.44,00:01:34
9,Singapore,1082,1068,1396,81.66%,1.29,00:00:59
10,Boston,1029,934,1405,77.37%,1.40,00:01:35
11,Seoul,979,948,1227,82.23%,1.28,00:00:42
12,Washington,952,951,957,95.40%,1.33,00:00:03
13,Toronto,911,879,1211,83.90%,1.25,00:00:55
14,Paris,864,814,1126,79.93%,1.40,00:01:29
15,Cambridge,856,800,1205,76.85%,1.42,00:01:16
16,Houston,851,771,1129,76.62%,1.49,00:01:26
17,San Jose,823,780,1018,82.81%,1.31,00:00:46
18,San Diego,787,733,1081,74.84%,1.54,00:01:41
19,Hyderabad,779,760,954,83.44%,1.27,00:00:53
20,Mumbai,742,714,925,82.27%,1.25,00:00:53
21,Zurich,713,690,849,84.57%,1.19,00:00:55
22,Seattle,705,667,908,81.39%,1.37,00:01:13
23,Pune,701,674,905,82.98%,1.21,00:00:55
24,Berlin,692,662,929,83.85%,1.19,00:00:58

In [14]:
pd.set_option('display.max_rows', 300)

In [15]:
df[:10]

,City,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration
0,(not set),26320,25083,31314,82.60%,1.35,00:01:07
1,Princeton,7681,6449,25494,43.00%,2.56,00:03:54
2,New York,4470,3780,7258,66.44%,1.78,00:02:19
3,London,2051,1967,2625,83.12%,1.26,00:00:59
4,Ashburn,1744,1114,4240,50.99%,2.40,00:03:44
5,Bengaluru,1587,1547,1985,83.07%,1.29,00:00:59
6,Philadelphia,1498,1241,2357,62.11%,1.84,00:02:19
7,Chicago,1264,1184,1670,78.26%,1.38,00:01:12
8,Los Angeles,1228,1148,1606,77.09%,1.44,00:01:34
9,Singapore,1082,1068,1396,81.66%,1.29,00:00:59

In [16]:
x = list(df.columns)
x

['City',
 'Users',
 'New Users',
 'Sessions',
 'Bounce Rate',
 'Pages / Session',
 'Avg. Session Duration']

In [17]:
x[5] = "P/S"
x[6] = "ASD"

In [18]:
df.columns = x

In [19]:
def add_proportion_in_parenthesis(dframe, column_name, replace=False):
    assert column_name in dframe.columns
    dframe["proportion"] = 100 * dframe[column_name] / 153926.0
    dframe["proportion"] = dframe["proportion"].apply(lambda x: round(x, 1))
    name = column_name if replace else f"{column_name}-cmb"
    dframe[name] = dframe.apply(lambda row: f"{round(row[column_name])} ({row['proportion']}%)", axis='columns')
    dframe = dframe.drop(columns=["proportion"])
    return dframe

In [20]:
ed_table = df[:100].reset_index(drop=True).fillna('')
ed_table.index = range(1, ed_table.shape[0] + 1)
ed_table = add_proportion_in_parenthesis(ed_table, "Users", replace=True)
ed_table

,City,Users,New Users,Sessions,Bounce Rate,P/S,ASD
1,(not set),26320 (17.1%),25083,31314,82.60%,1.35,00:01:07
2,Princeton,7681 (5.0%),6449,25494,43.00%,2.56,00:03:54
3,New York,4470 (2.9%),3780,7258,66.44%,1.78,00:02:19
4,London,2051 (1.3%),1967,2625,83.12%,1.26,00:00:59
5,Ashburn,1744 (1.1%),1114,4240,50.99%,2.40,00:03:44
6,Bengaluru,1587 (1.0%),1547,1985,83.07%,1.29,00:00:59
7,Philadelphia,1498 (1.0%),1241,2357,62.11%,1.84,00:02:19
8,Chicago,1264 (0.8%),1184,1670,78.26%,1.38,00:01:12
9,Los Angeles,1228 (0.8%),1148,1606,77.09%,1.44,00:01:34
10,Singapore,1082 (0.7%),1068,1396,81.66%,1.29,00:00:59
11,Boston,1029 (0.7%),934,1405,77.37%,1.40,00:01:35
12,Seoul,979 (0.6%),948,1227,82.23%,1.28,00:00:42
13,Washington,952 (0.6%),951,957,95.40%,1.33,00:00:03
14,Toronto,911 (0.6%),879,1211,83.90%,1.25,00:00:55
15,Paris,864 (0.6%),814,1126,79.93%,1.40,00:01:29
16,Cambridge,856 (0.6%),800,1205,76.85%,1.42,00:01:16
17,Houston,851 (0.6%),771,1129,76.62%,1.49,00:01:26
18,San Jose,823 (0.5%),780,1018,82.81%,1.31,00:00:46
19,San Diego,787 (0.5%),733,1081,74.84%,1.54,00:01:41
20,Hyderabad,779 (0.5%),760,954,83.44%,1.27,00:00:53
21,Mumbai,742 (0.5%),714,925,82.27%,1.25,00:00:53
22,Zurich,713 (0.5%),690,849,84.57%,1.19,00:00:55
23,Seattle,705 (0.5%),667,908,81.39%,1.37,00:01:13
24,Pune,701 (0.5%),674,905,82.98%,1.21,00:00:55
25,Berlin,692 (0.4%),662,929,83.85%,1.19,00:00:58

In [21]:
ed_table.to_latex('by_city.tex', longtable=True)

/var/folders/x5/f0v08d0968dfbr7r4fj55ln80000gn/T/ipykernel_55782/156208110.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  ed_table.to_latex('by_city.tex', longtable=True)

In [22]:
def pad_multicolumn(fname, column_names):
  with open(fname, "r") as f:
    lines = f.readlines()
  for column_name in column_names:
    thres = 0
    # find column index
    for i, line in enumerate(lines):
      if column_name in line and " \\" in line:
        num_columns = len(line.split("&"))
        cols = [c.replace("\\", "").strip() for c in line.split("&")]
        idx = cols.index(column_name)
        cols[idx] = "multicolumn{1}{c}{" + column_name + "}"
        lines[i] = " & ".join(cols).replace("multicolumn", "\\multicolumn") + " \\\\\n"
      if " \\" in line and " & " in line and not column_name in line:
        parts = line.split("&")
        value, percent = parts[idx].replace("\\\\\n", "").replace("\\", "").strip().split()
        if len(percent) > thres: thres = len(percent)
    # second pass
    for i, line in enumerate(lines):
      if " \\" in line and " & " in line and not column_name in line:
        parts = line.replace("\\\\\n", "").replace("\\\\ \n", "").strip().split("&")
        value, percent = parts[idx].replace("\\", "").strip().split()
        parts[idx] = value + "\hphantom{" + "0" * (thres - len(percent) + 1) + "}" + percent.replace("%", "\%")
        lines[i] = " & ".join(parts) + r" \\ " + "\n"
  with open(fname, "w") as f:
    f.write("".join(lines))

In [23]:
pad_multicolumn('by_city.tex', ["Users"])

In [24]:
ed_table

,City,Users,New Users,Sessions,Bounce Rate,P/S,ASD
1,(not set),26320 (17.1%),25083,31314,82.60%,1.35,00:01:07
2,Princeton,7681 (5.0%),6449,25494,43.00%,2.56,00:03:54
3,New York,4470 (2.9%),3780,7258,66.44%,1.78,00:02:19
4,London,2051 (1.3%),1967,2625,83.12%,1.26,00:00:59
5,Ashburn,1744 (1.1%),1114,4240,50.99%,2.40,00:03:44
6,Bengaluru,1587 (1.0%),1547,1985,83.07%,1.29,00:00:59
7,Philadelphia,1498 (1.0%),1241,2357,62.11%,1.84,00:02:19
8,Chicago,1264 (0.8%),1184,1670,78.26%,1.38,00:01:12
9,Los Angeles,1228 (0.8%),1148,1606,77.09%,1.44,00:01:34
10,Singapore,1082 (0.7%),1068,1396,81.66%,1.29,00:00:59
11,Boston,1029 (0.7%),934,1405,77.37%,1.40,00:01:35
12,Seoul,979 (0.6%),948,1227,82.23%,1.28,00:00:42
13,Washington,952 (0.6%),951,957,95.40%,1.33,00:00:03
14,Toronto,911 (0.6%),879,1211,83.90%,1.25,00:00:55
15,Paris,864 (0.6%),814,1126,79.93%,1.40,00:01:29
16,Cambridge,856 (0.6%),800,1205,76.85%,1.42,00:01:16
17,Houston,851 (0.6%),771,1129,76.62%,1.49,00:01:26
18,San Jose,823 (0.5%),780,1018,82.81%,1.31,00:00:46
19,San Diego,787 (0.5%),733,1081,74.84%,1.54,00:01:41
20,Hyderabad,779 (0.5%),760,954,83.44%,1.27,00:00:53
21,Mumbai,742 (0.5%),714,925,82.27%,1.25,00:00:53
22,Zurich,713 (0.5%),690,849,84.57%,1.19,00:00:55
23,Seattle,705 (0.5%),667,908,81.39%,1.37,00:01:13
24,Pune,701 (0.5%),674,905,82.98%,1.21,00:00:55
25,Berlin,692 (0.4%),662,929,83.85%,1.19,00:00:58